html {
  font: normal normal normal 16px/150% 'BlinkMacSystemFont', 'Helvetica Neue', 'Roboto', 'PingFang SC', 'Microsoft YaHei', '微软雅黑', 'STHeitiSC-Light', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  background: #01579B;
  color: #37474F;
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  background: #01579B;
  font-size: 1rem;
}

header.global {
  position: relative;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
  background-color: #01579B;
  box-sizing: border-box;
  z-index: 100000;
  overflow: hidden;
}

.hidden{ 
  display:none; 
}

.logo-primary {
  display: block;
  height: 3rem;
}

#header {
  position: absolute;
  margin: 0;
  top: 5rem;
  width: 100%;
  height: 3rem;
  padding: 0;
  z-index: 10000;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
  background-color: #FFF;
  box-sizing: border-box;
  transition: box-shadow .3s;
}

#header.lockonhead.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2);
  background-color: rgba(255,255,255,0.95)
}

@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  #header.lockonhead.fixed {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7)
  }
}

.navbar {
  overflow: visible;
}

.navbar-left {
  float: left;
  width: 60%;
  padding: 0;
  margin: 0;
}

.navbar-right {
  float: right;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  overflow: visible;
}

.nav>li {
  list-style-type: none;
}

.navbar-menu {
  display: inline-flex;
  padding: 0;
  width: 100%;
  font-size: .9rem;
  line-height: 3rem;
}

.navbar-menu>li {
  flex-grow: 1;
  animation: drop-fade-in .5s both;
  height: 3rem;
}

.search-form {
  animation: drop-fade-in .5s both;
  animation-delay: .9s;
}

.navbar-menu>li:nth-child(1) {
  animation-delay: .3s;
}

.navbar-menu>li:nth-child(2) {
  animation-delay: .4s;
}

.navbar-menu>li:nth-child(3) {
  animation-delay: .5s;
}

.navbar-menu>li:nth-child(4) {
  animation-delay: .6s;
}

.navbar-menu>li:nth-child(5) {
  animation-delay: .7s;
}

.navbar-menu>li:nth-child(6) {
  animation-delay: .8s;
}

.navbar-menu>li>a {
  position: relative;
  font-weight: normal;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.navbar-menu>li>a:after{
  position:absolute;
  content: '';
  width: 100%;
  height: .3rem;
  top:3rem;
  left:0;
  background:#01579B;
  transition: transform .3s;
}

.navbar-menu>li>a.active:after,.navbar-menu>li>a:hover:after  {
  transform:translateY(-.3rem);
}

nav#button-left {
  display: none;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  left: 1rem;
  cursor: pointer;
}

nav#button-left:before,
nav#button-left:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: .4rem;
  background: white;
  top: 1.3rem;
  left: .5rem;
  border-radius: .2rem;
  transform: translate(0, -.5rem);
  transition: transform .3s;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
}

nav#button-left:after {
  transform: translate(0, .5rem);
}

nav#button-left.show:before {
  transform: rotate(225deg);
}

nav#button-left.show:after {
  transform: rotate(135deg);
}

nav#button-right {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 1rem;
  cursor: pointer;
}

nav#button-right:before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: white;
  top: .5rem;
  left: .5rem;
  border-radius: 1rem 1rem 0 0;
  transform: scale(1, .35) translate(0, 1.6rem);
  transition: transform .3s, border-radius .3s;
}

nav#button-right:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #FFF;
  top: 1rem;
  left: 1rem;
  border-radius: .5rem;
  transform: translate(0, -.5rem);
  transition: transform .3s, background-color .3s;
}

nav#button-right.show:before {
  transform: translate(0, 0);
  border-radius: 1rem;
}

nav#button-right.show:after {
  transform: translate(0, 0);
  background-color: #01579B;
}

nav#button-profile {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 1rem;
  cursor: pointer;
  padding: .35rem;
  box-sizing: border-box;
}

.nav-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #FFF;
  border: .2rem solid #b0bec5;
  box-sizing: border-box;
  box-shadow: 0 .05rem 3rem rgba(0, 0, 0, .3);
}

#body {
  position: relative;
  background-color: #FAFAFA;
  padding-top: 5rem;
  min-height: calc(100vh - 25rem);
}

#footer {
  width: 100%;
  text-align: center;
  background: #FFF;
  padding-top: 1rem;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
}

#footer p {
  margin: 0;
}

.footer-brand.lightlink {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  white-space: nowrap;
  letter-spacing: -.6rem;
  color: rgba(0, 0, 0, 0);
  transition: color .3s, letter-spacing .3s, transform .3s;
}

.footer-brand>img {
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

footer.global {
  width: 100%;
  height: 6rem;
  background: #01579B;
  font-size: .8rem;
  text-align: center;
  color: #FFF;
}

.poweredby {
  height: 6rem;
  padding: .5rem 0;
  box-sizing: border-box;
}

.poweredby>p>span {
  display: inline-block;
  height: 4rem;
  width: 8rem;
  line-height: 4rem;
  font-size: 1.1rem;
  transform: none;
  transition: transform .3s;
}

.poweredby:hover>p>.footer-brand {
  letter-spacing: 0;
  color: #546E7A;
  transform: translate(-8.5rem, .8rem) scale(.8, .8);
}

.poweredby:hover>p>.footer-brand:last-child {
  transform: translate(-5rem, .8rem) scale(.8, .8);
}

.poweredby:hover>p>span {
  transform: translate(4rem, -2rem) scale(.8, .8);
}

.pageinfo {
  padding: .5rem 0;
}

.pageinfo>p {
  margin: .5rem 0;
}

.terms>a {
  color: white;
  margin: 0 .5rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@supports(padding: max(0px)) {
    .container {
        padding-left: max(1rem, constant(safe-area-inset-left));
        padding-right: max(1rem, constant(safe-area-inset-right));
    }
}

.container.main {
  display: flex;
}

.comment-text > p {
  margin:0;
}

.lazyload {
  opacity: 0;
  transform: scale(1.1, 1.1);
  transition: opacity .5s, transform .5s;
}

p {
  word-break: break-all;
}

img.lazyload {
  transform: none;
}

.lazyload.show {
  opacity: 1;
  transform: none;
}

section {
  position: relative;
  background-color: #FFF;
  box-sizing: border-box;
  margin-bottom: 2rem;
  border-radius: .1rem;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
}

section.main {
  padding: 1rem 2rem;
  order: 2;
  width: 100%;
}

.sectitle{
  margin:0;
  font-size:1.2rem;
  padding:1rem 0;
  border-bottom: solid 1px #CFD8DC;
  text-align: center;
}

.content.main {
  order: 2;
  width: 100%;
  width: calc(100% - 16rem);
  box-sizing: border-box;
}

.content-text>p {
  margin-top:1rem;
  margin-bottom:2rem;
}

hr {
  margin: 1.5rem 0;
  height: 1px;
  border: none;
  background:linear-gradient(to left,#fff,#CFD8DC,#CFD8DC,#fff);
}

aside {
  width: 14rem;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: #01579B;
  font-weight: bold;
  transition: color .3s, background-color .3s;
}

a.lightlink {
  color: #546E7A;
  font-weight: normal;
}

a:hover {
  color: #039BE5;
}

a.lightlink:hover {
  color: #263238;
}

img {
  max-width: 100%;
}

video{
  width: 100%;
  display: block;
}

img.smiley {
  height:1.5rem;
  vertical-align: middle;
}

.user-avatar{
    float:left;
    position:relative;
    width: 4rem;
    height: 4rem;
    margin-right:1rem;
}

.user-avatar>img {
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: #FFF;
    overflow: hidden;
    border: .2rem solid #b0bec5;
    box-sizing: border-box;
    position:relative;
    z-index:1;
}

.content-text>p>img {
  vertical-align: middle;
}

.content-text>p>span.image-caption {
  width: 100%;
  display: block;
  text-align: center;
  font-size: .8rem;
  line-height: 1.2rem;
  padding: .3rem 0;
  background: #ECEFF1;
}

input {
  border: 1px solid #E7E7E7;
  transition: border-color .3s;
}

input:focus {
  border-color: #607D8B;
}

input:invalid {
    box-shadow: none;
}

.title-wrapper{
    position: relative;
    background: #000;
    margin-top: -2rem;
    margin-bottom: 2rem;
    padding: 6rem 0;
    padding-bottom: 8rem;
}
.title-background{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: .6;
    pointer-events: none;
}
.title-background>img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.title-text{
    position: relative;
    color: #FFF;
    line-height: 2;
    padding:0 1rem;
}
.title-h1{
    text-align: center;
    font-size: 3rem;
}
.title-h2{
    text-align: center;
    font-size: 2rem;
}
.title-controls{
    margin-top: 2rem;
    text-align: center;
}

.inset-text{
  border: none;
  font-size: 0.9rem;
  line-height: 1.2rem;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3) inset;
  width: 100%;
  height: 6rem;
  border-radius: .1rem;
  resize: none;
  padding: .5rem;
  box-sizing: border-box;
  outline-width: 0;
}

.pagination{
	margin-top:1rem;
	margin-bottom:1rem;
	text-align: center;
  padding: 0;
}

.pagination>li{
	list-style-type: none;
  display: inline;
}

input.pagejump{
  display: inline-block;
  position: relative;
  border: none;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  border-radius: .1rem;
  box-sizing: border-box;
  color: #FFF;
  background: #90A4AE;
  outline-width: 0;
  cursor: pointer;
  margin: 1rem;
  margin-top: 0;
  vertical-align: middle;
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.button {
  display:inline-block;
  position:relative;
  border: none;
  padding: .5rem 1rem;
  font-size: .9rem;
  font-weight: bold;
  border-radius: .1rem;
  box-sizing: border-box;
  outline-width: 0;
  cursor: pointer;
  margin:1rem;
  margin-top:0;
  vertical-align: middle;
  color: #FFF;
  overflow: hidden;
  line-height: 1rem;
  background-color: #90A4AE;
  user-select: none; 
}

.button:hover{
  color: #FFF;
}

button{
  border:none;
}

.button.float-right {
  margin-right:0;
}

.button.float-left {
  margin-left:0;
}

.widget-button {
  line-height: 1.5rem;
  width: 11rem;
}

.button:after {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background-color .3s;
}

.button:hover:after {
  background-color: rgba(255, 255, 255, .3);
}

.button:active:after {
  background-color: rgba(0, 0, 0, .3);
}

a.disabled,
button[disabled],
button.disabled,
.button[disabled],
.button.disabled,
input:disabled {
  opacity: .5;
  pointer-events: none;
}

#body{
  overflow:hidden;
}

.middle{
  text-align: center;
}

.full{
  width:100%;
}

.mark{
  background-color:#90A4AE;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2em;
  line-height: 150%;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

img.full {
	width:100%;
}

ul, ol {
	padding-left: 2rem;
}

blockquote {
	margin: 0 2rem;
  font-style: italic;
  color: #607D8B;
}

pre {
  border: 1px solid #cfd8dc;
  border-radius: .1rem;
  line-height: 1.5;
  overflow: auto;
  position: relative;
  padding: .5rem;
  background: #f8f8f8;
  font-variant-ligatures: none;
  font-family: Menlo, Monaco, Consolas, Monospace;
}

code {
  font-family: Menlo, Monaco, Consolas, Monospace;
  font-size: .9em;
  padding: .2rem;
  font-weight: bold;
  color: #f06292;
  background-color: rgba(233, 235, 236, .5);
  border-radius: .1rem;
}

pre > code {
  color: #607D8B;
  font-size: .9em;
  line-height: 1.5;
  font-weight: normal;
  background: none;
  padding: 0;
  overflow: auto;
  max-height: 20rem;
}

pre > div, .code-hidden {
  display: none;
}

table{
  overflow-x: auto;
  display: block;
  padding: .5rem 1rem;
  font-size: .9em;
  border-collapse: collapse;
}

.content-text > table{
  margin-left: -1rem;
  margin-right: -1rem;
}

thead, tbody{
  white-space: nowrap;
}

thead{
  background: #FAFAFA;
}

th, td{
  border: 1px solid #CFD8DC;
  text-align: center;
  padding: 0 .4rem;
}

iframe{
  border: none;
  width: 100%;
  height: 20rem;
}

kbd{
  color: #546E7A;
  background-color: #FAFAFA;
  border-radius: .2rem;
  border: 1px solid #CFD8DC;
  border-bottom-color: #B0BEC5;
  box-shadow: 0 .1rem .2rem rgba(0,0,0,0.1),0 .2rem 0 0 rgba(255,255,255,0.7) inset;
  display: inline-block;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: .9em;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 1.2rem;
  padding: .2rem .4rem;
  margin:0 .2rem;
  vertical-align: middle;
}

:focus {
  outline:none;
}

.fade-in, .fadeIn {
  animation: fade-in .5s both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@keyframes drop-fade-in {
  from {
    transform: scale(1.2, 1.2);
    opacity: 0
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@media only screen and (min-width: 5121px) {
  html {
    font-size: 72px;
  }
}

@media only screen and (max-width: 5120px) {
  html {
    font-size: 64px;
  }
}

@media only screen and (max-width: 4480px) {
  html {
    font-size: 56px;
  }
}

@media only screen and (max-width: 3840px) {
  html {
    font-size: 48px;
  }
}

@media only screen and (max-width: 3840px) {
  html {
    font-size: 40px;
  }
}

@media only screen and (max-width: 3200px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (max-width: 2560px) {
  html {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 960px) {
  section.main {
    padding: 1rem;
  }
  section {
    margin-bottom: 1rem;
  }
  aside {
    margin-right: 1rem;
  }
  .content.main {
    width: calc(100% - 15rem);
  }
}

@media only screen and (max-width: 768px) {
  .logo-primary {
    display: block;
    height: 3rem;
    margin: 0 auto;
    transform-origin:top center;
  }
  section.main {
    padding: 1rem;
  }
  .content.main {
    width: 100%;
  }
  section {
    width: 100%;
    border-radius: 0;
  }
  aside {
    margin-right: 0;
    width: 100%;
  }
  .container {
    padding: 0 5rem;
  }
  .container.main {
    display: block;
  }
  #body {
    padding-top: 2rem;
    min-height: calc(100vh - 22rem);
  }
  #header,
  #header.lockonhead.fixed {
    transform: translate(0, -25rem);
    position: absolute;
    margin: 0;
    top: 5rem;
    width: 100%;
    height: auto;
    min-height: 3rem;
    padding: 0 1rem;
    z-index: 10000;
    text-align: center;
    background-color: #FFF;
    transition: transform .5s;
    border: none;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .2);
  }
  #header>.container {
    display: none;
  }
  #header.show,
  #header.lockonhead.fixed.show {
    transform: translate(0, 0);
  }
  #header.show>.container {
    display: block;
  }
  nav#button-left {
    display: block;
  }
  .navbar-left {
    width: 100%;
    float: none;
  }
  .navbar-menu {
    display: block;
    font-size: 1rem;
    line-height: 3rem;
  }
  .navbar-right {
    float: none;
    margin: 0;
    line-height: 2.2rem;
  }
  .navbar-menu>li {
    border-bottom: 1px solid #eceff1;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }
}